name: eralogistic
description: A new Flutter project.

publish_to: 'none' 


version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"
dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  http: ^0.13.4
  flutter_svg: any
  flutter_multi_formatter: ^2.5.7
  intl: ^0.17.0
  provider: ^6.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/font/
    - assets/img/

  fonts:
    - family: Inter
      fonts:
        - asset: assets/font/Inter-VariableFont_slnt,wght.ttf

    - family: icomoon
      fonts:
       - asset: assets/font/icomoon.ttf
